.container {
    margin-top: 100px;
}

h1 {
    font-family: 'Press Start 2P', cursive;
}

.playerscores {
    font-family: 'Press Start 2P', cursive;
    padding-right: 30px;
    font-size: 1.2em;
    top: 7px;
    position: relative;
}

h2 {
    margin-bottom: 20px;
}

.instructions {
    font-size: 1.2em;
    padding: 10px;
    padding-bottom: 20px;
}

.theOptions {
    padding-top: 10px;
}

#error {
    color: red;
}

nav {
    min-height: 66px;
}
/* Set Initial States to Hidden */
#timeRemaining, #countdown, #questions, #finalScore, #highscoreTable {
    display: none;
}

body {
    /* Image available for free from https://hipwallpaper.com/question-mark-backgrounds */
    background-image: url('./assets/images/question_marks.jpg');
    background-size: cover;
}