.container {
    margin-top: 100px;
}

h1 {
    font-family: 'Press Start 2P', cursive;
}

.instructions {
    font-size: 1.2em;
    padding: 10px;
    padding-bottom: 20px;
}

/* Set Initial States to Hidden */
#timeRemaining, #countdown {
    display: none;
}

body {
    /* Image available for free from https://hipwallpaper.com/question-mark-backgrounds */
    background-image: url('./assets/images/question_marks.jpg');
    background-size: cover;
}