/* Allow space for the navbar */

.container {
    margin-top: 100px;
}

/* Page elements */

h1 {
    /* Styling for the custom font */
    font-family: 'Press Start 2P', cursive;
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.65em;
    }
}

h2 {
    margin-bottom: 20px;
}

nav {
    /* To keep the height of the navbar consistent */
    min-height: 66px;
}

body {
    /* Image available for free from https://hipwallpaper.com/question-mark-backgrounds */
    background-image: url('./assets/images/question_marks.jpg');
    background-size: cover;
}

button {
    text-align: left;
}

/* Custom classes */

.playerscores {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.2em;
    padding-right: 30px;
    position: relative;
    top: 7px;
}

.instructions {
    font-size: 1.2em;
    padding: 10px;
    padding-bottom: 20px;
}

.theOptions {
    padding-top: 10px;
}

/* Custom IDs */

#error {
    /* Sets the font colour for the player name error message */
    color: red;
}

/* Set Initial States to Hidden on Page Load (removes flash) */

#timeRemaining, #countdown, #questions, #finalScore, #highscoreTable {
    display: none;
}